/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background: var(--color-yelow-background); */
    /* background: linear-gradient(#2b1055,#7597de); */
}

p {
    font-family: 'Nanum Brush Script', cursive;
}







/****************************************************************/
/*                  ALGEMENE CUSTOM PROPERTIES                  */
/****************************************************************/ 

:root {
    --color-sand-background: #F1EFED;
    --color-firstscene-gradient: linear-gradient(#bee5f2,#ffeeb1)

}



/****************************************************************/
/*                           HOMEPAGE                           */
/****************************************************************/ 

body {
    /* background-color: var(--color-yelow-background); */
    background-color: hotpink;
}