/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}

body.overflow {
    overflow: hidden;
}





/****************************************************************/
/*                  ALGEMENE CUSTOM PROPERTIES                  */
/****************************************************************/ 

:root {
    --color-sand-background: #F1EFED;
    --color-medium-blue-background: #434952;
    --color-darksand-background: #E5DFD6;
    --color-darkblue-background: #434952;

    --color-state-active: #8D9CA4;
}





/****************************************************************/
/*                           HOMEPAGE                           */
/****************************************************************/ 

body {
    background-color: var(--color-yelow-background);
}





/*************************************** header *************************************/

header {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    padding-top: 8px;
    padding-right: 45%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 18px 0 rgba(0, 0, 0, 0.13);
}

header aside img {
    width: auto;
    height: 2.5em;
}





/********************** nav styling ***********************/

header nav section ul {
    list-style-type: none;

    padding-right: 2em;

    display: flex;
}

header nav section ul li {
    padding-top: .7em;
    padding-left: 1.2em;
    padding-right: 1.2em;

    font-size: 11pt;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

header nav li.active {
    color: var(--color-state-active);

    font-weight: 500;
}

header nav section ul li a {
    color: var(--text-color-light);
    text-decoration: none;
}





/****************************************************************/
/*                       Media Query  HOME                      */
/****************************************************************/

@media screen and (max-width: 900px) {


/*************************************** header *************************************/

header {
    padding-right: 50%;
    padding-left: 50%;
}
    

/*************************   BUTTON   ***************************/ 

.burger {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0.2em;
    left: 20px;
    border-radius: 4px;
    z-index: 10;
}

.burger span {
    position: relative;
    margin-top: 9px;
    margin-bottom: 9px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--color-darkblue-background);
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3;
}

.burger span::before, .burger span::after {
    position: absolute;
    content: "";
}

.burger span::before {
    top: -9px
}

.burger span::after {
    top: 9px;
}

.burger.clicked span {
    background-color: transparent;
}

.burger.clicked span::before {
    -webkit-transform: translateY(9px) rotate(45deg);
    -moz-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    -o-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -moz-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span::before, .burger.clicked span::after {
    background-color: var(--color-darksand-background);
}

.burger:hover {
    cursor: pointer;
}

/*************************    NAV   ***************************/ 

#nav {
    background-color: var(--color-medium-blue-background);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 60%;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#nav.show {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  #nav.show ul.main li {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
  #nav.show ul.main li:nth-child(1) {
    transition-delay: 0.20s;
  }
  #nav.show ul.main li:nth-child(2) {
    transition-delay: 0.4s;
  }
  #nav.show ul.main li:nth-child(3) {
    transition-delay: 0.6s;
  }
  #nav.show ul.main li:nth-child(4) {
    transition-delay: 0.8s;
  }
  #nav.show ul.main li:nth-child(5) {
    transition-delay: 1s;
  }
  #nav.show ul.main li:nth-child(6) {
    transition-delay: 1.2s;
  }
  #nav.show ul.main li:nth-child(7) {
    transition-delay: 1.4s;
  }
  #nav.show ul.main li:nth-child(8) {
    transition-delay: 1.6s;
  }
  #nav.show ul.main li:nth-child(9) {
    transition-delay: 1.8s;
  }
  #nav.show .about, #nav.show .social, #nav.show ul.sub {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 0.85s;
  }
  @media (min-width: 667px) {
    #nav {
      padding: 120px 90px 70px 90px;
    }
  }
  #nav ul.main {
    list-style-type: none;
    display: block;
  }
  #nav ul.main li {
    margin-bottom: 20px;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #nav ul.main li:last-of-type {
    margin-bottom: 0px;
  }
  #nav ul.main li a, #nav .active {
    color: #ffffff;
    text-decoration: none;
    display: block;
    letter-spacing: 5px;
    /* font-weight: 600; */
    padding: 10px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #nav ul.main li a span {
    color: var(--color-darksand-background);
  }
  #nav ul.main li a:hover {
    color: var(--color-darksand-background);
  }

  /* #nav section {
    display: flex;
    flex-direction: column;
  } */

  


/*************************   BUTTON OVERLAY   ***************************/ 


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-darksand-background);
    opacity: 0;
    visibility: hidden;
  }
  .overlay.show {
    opacity: 0.6;
    visibility: visible;
  }

}














/* Neue Haas Grotesk Display Pro 45 Light
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 400;
font-style: normal;
Neue Haas Grotesk Display Pro 46 Light Italic
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 400;
font-style: italic;
Neue Haas Grotesk Display Pro 75 Bold
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;
Neue Haas Grotesk Display Pro 76 Bold Italic
font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: italic;
Neue Haas Grotesk Text Pro 55 Roman
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: normal;
Neue Haas Grotesk Text Pro 56 Italic
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: italic;
Neue Haas Grotesk Text Pro 75 Bold
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700;
font-style: normal;
Neue Haas Grotesk Text Pro 76 Bold Italic
font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 700;
font-style: italic; */

